/* Garante que a página ocupa toda a largura */
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Ajusta a largura da banner-home */
.banner-home {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0; /* Remover espaçamento interno */
}


/* Se .page-section estiver a limitar a largura */
.page-section {
  width: 100%;
  max-width: 100%;
}

/* Estilo para garantir um tamanho adequado dos gráficos */
.card-body {
  min-height: 350px;
  padding: 20px;
}

canvas {
  width: 100% !important;
  height: 300px !important;
}

.total-denuncias {
  font-size: 1.2rem;
  font-weight: bold;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.color-box {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  border-radius: 3px;
}

.legend-text {
  font-size: 0.875rem;
  color: #333;
}


