.sidebar {
    background: linear-gradient(180deg, #07be94 0%, #048c6a 100%);
    width: 250px;
    height: 100vh;
    padding: 10px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.nav-item {
    margin: 10px 0;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateX(5px);
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
}

.nav-icon svg {
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.nav-link:hover .nav-icon svg {
    transform: scale(1.2);
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
}

.submenu-toggle {
    position: relative;
}

.submenu-toggle .submenu-arrow svg {
    transition: transform 0.3s;
}

.submenu-toggle[aria-expanded="true"] .submenu-arrow svg {
    transform: rotate(180deg);
}

.submenu {
    padding-left: 20px;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.submenu.show {
    display: block;
    opacity: 1;
}

.submenu-item .submenu-link {
    padding: 8px;
    color: white;
    text-decoration: none;
    display: block;
    border-radius: 6px;
    transition: background 0.3s;
}

.submenu-item .submenu-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.app-btn-primary {
    background-color: #07be94 !important; /* Altera a cor de fundo */
    border-color: #07be94 !important; /* Garante que a borda tem a mesma cor */
    color: white !important; /* Mantém o texto visível */
  }
  
  .app-btn-primary:hover {
    background-color: #059c7a !important; /* Uma cor ligeiramente mais escura no hover */
    border-color: #059c7a !important;
  }