.btn-custom {
    background-color: #07be94 !important; /* Cor personalizada */
    border-color: #07be94 !important;
    color: white !important; /* Garante que o texto fique branco */
}

.btn-custom:hover {
    background-color: #05a57c !important; /* Cor mais escura ao passar o rato */
    border-color: #05a57c !important;
}
