/* Garante que o botão tenha um vermelho mais intenso */
.btn-danger {
    background-color: #ff0000 !important; /* Cor vermelha forte */
    border-color: #ff0000 !important; /* Borda da mesma cor */
    color: white; /* Cor do texto em branco */
}

/* Cor ao passar o rato (hover) */
.btn-danger:hover {
    background-color: #e60000 !important; /* Vermelho mais escuro ao passar o rato */
    border-color: #e60000 !important;
}
